body {
font-family: 'Helvetica', 'Droid-sans', Verdana, sans-serif;
font-size: 12px;
margin: 0;
border: 0;
outline: 0;
background-image: url("img/pattern.png");
}

#mainLogo {
display: block;
margin: 0 auto;
text-align: center;
min-width:100%;
background: #fff;
}

#mainHeader{
display: block;
min-width:100%;
background: #d35400;
float: left;
position: relative;
clear: both;
margin-bottom: 15px;
text-align: center;

/*padding:5px 0 15px;*/

color: white;
border-bottom: 10px solid #c0392b;
font-size: 14px;
}

#mainFooter {
text-align: center;
background: #d35400;
/*padding:15px 0 15px;*/
min-width:100%;
color: white;
border-top: 10px solid #c0392b;
position: relative;
            /* Altura total del footer en px con valor negativo */
            margin-top: 40px;
            /* Altura del footer en px. Se han restado los 5px del margen
               superior mas los 5px del margen inferior
            */
            height: 60px; 
            padding:5px 0px;
            clear: both;

}


#mainForm {
	width: 50%;
	margin: 0 auto;
	color: #666;
	margin-bottom: 15px;
}	

#mainForm  h4{
	color: #666;
}	

fieldset {

background: white;
}

#formTable {
margin: 0 auto;
}

#mainThx {
width: 50%;
margin: 0 auto;
	text-align: right;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}

#mainSaludo {
width: 50%;
margin: 0 auto;
margin-top: -15px;
text-align: justify;
}

#mainAgradecimiento {
width: 50%;
height: 300px;
margin: 0 auto;
margin-bottom: 15px;
background: #fff;
border-radius: 5px;
padding: 15px;
border: 3px solid #ccc;
text-align: center;
margin-top: 115px;
color: #333;
}

#txtLeyenda {
color: #666;
text-align: justify;
font-size: 16px;
}

#tableAtributos th {
background: red;
color: white;
text-transform: uppercase;
border: 1px solid #c0392b;
}

#tableAtributos td {
border: 1px solid #c0392b;
}

.qencuesta {
font-size: 14px;
text-align: justify;
font-weight: normal;
}

/*CSS LOGIN FORM*/
#loginForm {
/*margin-top: 150px !important;
margin-bottom: 50px !important;*/
margin: 150px auto;
margin-top: 150px !important;
width: 50%;
padding: 50px;
background: #ccc;
text-align: center;
border-radius: 5px;
}

#formTable {
margin: 0 auto;
width: 50%;
}

#formTable input[type="submit"]{
text-align: center;
width: 100%;
padding: 6px;
border: none;
background: #e74c3c;
color: #fff;
border-radius: 5px;
cursor: pointer;
}

#formTable input[type="submit"]:hover{
background: #c0392b;
cursor: pointer;
}

#formTable input[type="text"]{
border-radius: 5px;
border: none;
padding: 5px;
}

#formTable input[type="password"]{
border-radius: 5px;
border: none;
padding: 5px;
}

#mainMenu {
margin-top: -15px !important;
float: left;
margin: 0 auto;
min-width: 100%;
background: #ccc;
text-align: center;
}

#mainMenu li {
display: inline-block;
width: 200px;
padding: 10px 5px 10px 5px;
background: #D35400;
border-bottom: 5px solid #c0392b;
}

#mainMenu li:hover {
display: inline-block;
width: 200px;
padding: 10px 5px 10px 5px;
background: #c0392b;
border-bottom: 5px solid #c0392b;
}

#mainMenu li a {
text-decoration: none;
color: #fff;
}

.tablaConsulta {
background: #fff;
margin: 0 auto;
padding: 25px;
}
.tablaConsulta th{
font-size: 12px;
font-weight: regular;
background: #c0392b;
color: white;
}

.tablaConsulta td{
border: 1px solid #ccc;
font-size: 10px;
height: auto;
}

.btn {
border: none;
background: #d35400;
border-bottom: 5px solid #c0392b;
color: #fff;
padding: 10px 25px;
cursor: pointer;
}

.btn:hover {
background: #c0392b;
border-bottom: 5px solid #c0392b;
}

fieldset legend {
font-size: 18px;
font-weight: bold;
}

contenedor-tabla{
display: table;
border-collapse: collapse;
width: 90%
}

.contenedor-fila{
display: table-row;
}
.contenedor-columna{
display: table-cell;
width: 30%;
}

@media only screen and (max-width: 699px) {

.contenedor-columna {
display : table-header-group; }

.contenedor-fila {
display : table-row; }

}

.field {
background: #fff;
margin-bottom: 15px;
}

.leg {
width: 150px;
padding: 15px;
background: red;
text-transform: uppercase;
color: white;
}
